<div class="comments">
  {{#each this}}
  <section class="card">
    <div class="comment-title">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="card-content">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>