<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
            <aside>
                <h1><a href="/">Tech Blog</a></h1>
            </aside>
            {{#if loggedIn}}
            <section class="user">
                <p>Welcome {{user.username}}</p>
            </section>
            {{/if}}
            <section id="nav">
                <h2><a href="/">Dashboard</a></h2>
                {{#if loggedIn}}
                <h2><a href="/logout">Logout</a></h2>
                {{else}}
                <h2><a href="/login">Login</a></h2>
                {{/if}}
            </section>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        Thanks for visiting!
    </footer>
    {{#if loggedIn}}
        <script src="/javascripts/logout.js"></script>
    {{/if}}
</body>

</html>