<section class="card">
    <div class="card-title">
        <h3 class="form-title">Login</h3>
    </div>
    <div class="card-content">
        <form class="login-form">
            <div>
                <label for="email-login">Email:</label>
                <input type="text" id="email-login" />
            </div>
            <div>
                <label for="password-login">Password:</label>
                <input type="password" id="password-login" />
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
        <p><a href="/signup">Signup Here!</a></p>
    </div>
</section>
<script src="/javascripts/login.js"></script>